@model IEnumerable<Dernek.Models.monthlyUserFollowUp>

@section ViewCss{
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Katılım Listesi";
}

<h2>Katılım Listesi</h2>
<br />
@if (User.IsInRole("Manager"))
{
    @Html.ActionLink("Yeni Kayıt Ekle", "Create", "", new { @class = "btn btn-primary" })
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.followStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.followDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actionDate)
        </th>
        
        @if (User.IsInRole("Manager"))
        {
            <th>@Html.DisplayNameFor(model => model.ApplicationUser.UName)</th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.followStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.followDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actionDate)
        </td>
        @if (User.IsInRole("Manager"))
        {
            <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UName)</td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
