@model IEnumerable<Dernek.Models.userDetail>
@section  ViewCss{
    <link href="@Url.Content("~/Content/userList/userList.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
}
@if (User.IsInRole("Manager"))
            {
    @Html.ActionLink("Yeni Kayıt Ekle", "Register", "Account")
}

    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.job)
                </th>
                <td>
                    @Html.DisplayNameFor(model => model.tel1)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.iban)
                </th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tel1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iban)
                </td>
            </tr>
        }

        </table>*@
    <br />
    <div id="content" class="container-fluid">
        <!--<div id="notification"></div><ul class="breadcrumb">
            <li><a href="http://merkent.com/demo/admin/index.php?route=common/home&amp;token=d18983f72a7a11fa98074783dc3391e1">Home</a></li>
            <li><a href="http://merkent.com/demo/admin/index.php?route=catalog/product&amp;token=d18983f72a7a11fa98074783dc3391e1">Products</a></li>
        </ul>-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left h2">@*<i class="hidden-xs fa fa-tablet"></i>*@Üyeler</div>
                <!--<div class="pull-right">
                    <button type="submit" form="form" class="btn btn-success btn-spacer"><i class="fa fa-files-o"></i><span class="hidden-xs"> Copy</span></button>
                    <a href="http://merkent.com/demo/admin/index.php?route=catalog/product/insert&amp;token=d18983f72a7a11fa98074783dc3391e1" class="btn btn-primary"><i class="fa fa-plus-circle"></i><span class="hidden-xs"> Insert</span></a>
                    <button type="submit" form="form" formaction="http://merkent.com/demo/admin/index.php?route=catalog/product/delete&amp;token=d18983f72a7a11fa98074783dc3391e1" id="btn-delete" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i><span class="hidden-xs"> Delete</span></button>
                </div>-->
            </div>
            <div class="panel-body">
                <form action="http://merkent.com/demo/admin/index.php?route=catalog/product/copy&amp;token=d18983f72a7a11fa98074783dc3391e1" method="post" enctype="multipart/form-data" id="form">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="40" class="text-center"><!--<input type="checkbox" data-toggle="selected">-->S/N</th>
                                <th class="text-center">@Html.DisplayNameFor(model => model.userImage)</th>
                                <th><a href="#">@Html.DisplayNameFor(model => model.name)<i class="caret caret-asc"></i></a></th>
                                <th class="hidden-xs"><a href="#">@Html.DisplayNameFor(model => model.surname)</a></th>
                                <th class="text-right hidden-xs"><a href="#">@Html.DisplayNameFor(model => model.job)</a></th>
                                <th class="text-right hidden-xs"><a href="#">@Html.DisplayNameFor(model => model.tel1)</a></th>
                                <th class="text-right hidden-xs"><a href="#"></a></th>

                            </tr>
                        </thead>
                        <tbody data-link="row" class="rowlink">
                            <tr id="filter" class="info">
                                <td class="text-center"><a class="btn btn-default btn-block" href="~/Users" rel="tooltip" title="Reset"><i class="glyphicon glyphicon-refresh"></i></a></td>
                                <td></td>
                                <td><input type="text" name="filter_name" value="" class="form-control" data-target="name" data-url="catalog/product" class="form-control"></td>
                                <td class="hidden-xs"><input type="text" name="filter_surname" value="" class="form-control" data-target="surname" data-url="catalog/product" class="form-control"></td>
                                <td class="text-right hidden-xs"><input type="text" name="filter_job" value="" class="form-control"></td>
                                <td class="text-right hidden-xs"><input type="text" name="filter_tel1" value="" class="form-control text-right"></td>
                                <td class="text-right hidden-xs">****</td>

                            </tr>
                            @{ int indx = 1;}
                            @foreach (var item in Model)
                            {
                                var userImage="";
                                if (item.userImage!=null)
                                {
                                     userImage = String.Format("data:image/{0};base64,{1}", item.userImageType, Convert.ToBase64String(item.userImage));
                                }
                                <tr>
                                    <td class="rowlink-skip text-center">
                                        @indx.ToString()
                                    </td>
                                    <td class="text-center"><img class="profile-user-img img-responsive img-thumbnail" src="@userImage" alt=""></td>
                                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                                    <td class="hidden-xs">@Html.DisplayFor(modelItem => item.surname)</td>
                                    <td class="text-right hidden-xs">@Html.DisplayFor(modelItem => item.job)</td>
                                    <td class="text-right hidden-xs">
                                        <span class="text-success">@Html.DisplayFor(modelItem => item.tel1)</span>
                                    </td>
                                    <td><a class="btn btn-default btn-block" href="~/Users" rel="tooltip" title="Reset"><i class="glyphicon glyphicon-off"></i></a></td>
                                </tr>
                                indx++;
                            }
                        </tbody>
                    </table>
                </form>
                <!--<div class="pagination"><div class="links"> <b>1</b>  <a href="http://merkent.com/demo/admin/index.php?route=catalog/product&amp;token=d18983f72a7a11fa98074783dc3391e1&amp;page=2">2</a>  <a href="http://merkent.com/demo/admin/index.php?route=catalog/product&amp;token=d18983f72a7a11fa98074783dc3391e1&amp;page=3">3</a>  <a href="http://merkent.com/demo/admin/index.php?route=catalog/product&amp;token=d18983f72a7a11fa98074783dc3391e1&amp;page=2">&gt;</a> <a href="http://merkent.com/demo/admin/index.php?route=catalog/product&amp;token=d18983f72a7a11fa98074783dc3391e1&amp;page=3">&gt;|</a> </div><div class="results">Showing 1 to 24 of 50 (3 Pages)</div></div>-->
            </div>
        </div>
    </div>
