@model Dernek.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h4>Kişisel Bilgiler</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.userDetail.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userDetail.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userDetail.identityNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userDetail.iban)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(m => m.userDetail.name)
        </td>
        <td>
            @Html.DisplayFor(m => m.userDetail.surname)
        </td>
        <td>
            @Html.DisplayFor(m => m.userDetail.identityNo)
        </td>
        <td>
            @Html.DisplayFor(m => m.userDetail.iban)
        </td>
        <td>
            @if (Model.userDetail != null)
            {
                @Html.ActionLink("Düzenle", "Edit", new { id = Model.userDetail.id })
            }
            else
            {
                    @Html.ActionLink("Eksik Bilgileri Ekle", "Create")
            }
        </td>
    </tr>


</table>
