<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap-3.3.2.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/bootstrap-3.3.2.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @if (IsSectionDefined("ViewCss"))
    {
        @RenderSection("ViewCss", required: false)
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href='@Url.Action("Index", "Home")'>
                    <img src="~/Resources/hanImage.png" width="50" height="50" />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Manager"))
                {
                    @Html.Partial("_ManagerPartialView")
                }
                else
                {
                    @Html.Partial("_MemberPartialView")
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />


    </div>

    @*<footer id="footer">
            <a href="#">
                &copy; @DateTime.Now.Year - Han Halk Oyunları Kültür ve Sanat Derneği
            </a>
        </footer>*@

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")


    @RenderSection("scripts", required: false)


</body>
</html>
