@model IEnumerable<Dernek.Models.activity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ViewCss{
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
}

<div>
    @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.activityTypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.recordDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.startDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.endDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.km)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.createrUserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dancerPerRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.activityTypes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.recordDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.km)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createrUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dancerPerRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.id  }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.id  }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id  })
                    </td>
                </tr>
            }



        </table>*@
</div>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @if (User.IsInRole("Manager"))
            {
        @Html.ActionLink("Yeni Kayıt Ekle", "Create", "", new { @class = "btn btn-primary" })
    }
    <section class="content-header">
        <h4>
            Aktivite Akışı
            <small>Tarihe Göre Sıralı</small>
        </h4>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline">
                    @foreach (var item in Model)
                    {
                        <li class="time-label">
                            <span class="bg-green">
                                Baş. Tarihi: @string.Format("{0:dd.MM.yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.startDate).ToString()))
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> @Math.Abs((DateTime.Now - Convert.ToDateTime(item.startDate)).Days).ToString() gün önce</span>
                                <h3 class="timeline-header"><a href="#">@Html.DisplayFor(modelItem => item.name)</a> @Html.DisplayFor(modelItem => item.location)</h3>
                                <div class="timeline-body">
                                    @*Bu kısıma sonra image galeri eklenebilir. Lightbox image gallery*@
                                    Açıklama :
                                    @Html.DisplayFor(modelItem => item.description)<br />
                                    <small class="label label-danger"><i class="fa fa-money"></i>  @string.Format(" {0:c2} {1}", Html.DisplayFor(m => item.price), "")&#x20BA</small>
                                    @if (item.status == Dernek.Models.EnumProperty.enums.activityStatus.Open)
                                    {
                                        <small class="label label-success"><i class="fa fa-user-secret"></i>  @Html.DisplayFor(m => item.status)</small>
                                    }
                                    else
                                    {
                                        <small class="label label-success"><i class="fa fa-money"></i>  @Html.DisplayFor(m => item.status)</small>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                    <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                </ul>
            </div>
            <!-- /.col -->
        </div>

        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
