@model IEnumerable<Dernek.Models.payment>


@section ViewCss{
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
}



<br />
<h5>Yaptığınız Ödemeleriniz Görüntülenmektedir.</h5>
<br />
@if (User.IsInRole("Manager"))
            {
    @Html.ActionLink("Yeni Kayıt Ekle", "Create","", new { @class="btn btn-primary"})
}
<div>
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Activity.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.payTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.paymentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createrUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mounth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.payTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createrUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mounth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </td>
            </tr>
        }

        </table>*@
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Ödeme Listesi</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Activity.name)</th>
                <th>@Html.DisplayNameFor(model => model.payTotal)</th>
                <th>@Html.DisplayNameFor(model => model.paymentDate)</th>
                <th>@Html.DisplayNameFor(model => model.mounth)</th>
                <th>@Html.DisplayNameFor(model => model.description)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Activity.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.payTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.paymentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.mounth)</td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                </tr>
            }
        </table>
    </div>
    <!-- /.box-body -->
</div>


