
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
    <li>@Html.ActionLink("Role", "Index", "Role")</li>
    <li>@Html.ActionLink("Manage", "Index", "Manage")</li>
    <li>@Html.ActionLink("Users", "Index", "Users")</li>
    <li>@Html.ActionLink("Activities", "Index", "activities")</li>
    <li>@Html.ActionLink("Payments", "Index", "payments")</li>
    <li>@Html.ActionLink("FollowUs", "Index", "monthlyUserFollowUps")</li>
    <li>@Html.ActionLink("Raporlar", "Index", "reports")</li>
</ul>
